@model HikingApp.Models.TrailsListModel

@{
    ViewBag.Title = "The Hiking Helper";
    ViewBag.Message = "Your Trail History";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Trail Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Distance(in miles)</th>
            <th>Difficulty</th>
            <th>Weather</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Trails.Count; i++)
        {
        <tr>
            <td>@Model.Trails[i].NameOfTrail</td>
            <td>@Model.Trails[i].Date</td>
            <td>@Model.Trails[i].Location</td>
            <td>@Model.Trails[i].LengthOfTrail</td>
            <td>@Model.Trails[i].Difficulty</td>
            <td>@Model.Trails[i].WeatherConditions</td>
            <td>@Model.Trails[i].Notes</td>
            <td>@Html.ActionLink("Info", "TrailInfo", new { id = Model.Trails[i].TrailId })</td>
        </tr>
        }
    </tbody>
</table>
